# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/$CACHE_FILE$
.idea/$PROJECT_FILE$
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/typora-theme-loop.iml
.idea/vcs.xml
