@import 'loop-dark/fonts/fonts.css';
@import './loop-dark/codeblock.css';
:root {
    --side-bar-bg-color: #1d1d1d;
    --control-text-color: #aaaaaa;
    --select-text-bg-color: hsl(153, 47%, 40%);
    --active-file-bg-color: hsl(153, 47%, 40%);
    --select-text-font-color: #aaaaaa;
    --active-file-text-color: #eeeeee;
    --bg-color: #1d1d1d;
    --item-hover-bg-color: var(--select-text-bg-color);
    --text-color: #aaaaaa;
    --font-family: system-ui;
    --font-mono: 'Fira Mono', 'Cousine', 'Consolas';
    --font-sans-serif: 'Source Sans Pro', sans-serif !important;
    --font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background: #555;
    color: #eeeeee;
}

.md-rawblock-on-edit>.md-rawblock-tooltip, .md-rawblock:hover>.md-rawblock-container, .md-rawblock:hover>.md-rawblock-tooltip {
    background: #555;
    color: #eeeeee;
}

.info-panel-tab:hover {
    color: #42b983;
}

.outline-label:hover {
    text-decoration: none;
}

input {
    color: #42b983;
}

.info-panel-tab:hover {
    color: #42b983;
}

.outline-label:hover {
    text-decoration: none;
}

input {
    color: #42b983;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: var(--select-text-bg-color);
    color: #fff;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans-serif);
    color: #baccd9;
    background-color: #1f1f1f;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 40px 30px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#write p {
    /* text-indent: 2rem; */
    line-height: 1.6rem;
    word-spacing: .05rem;
}

#write ol li {
    padding-left: 0.5rem;
}

#write>ul:first-child, #write>ol:first-child {
    margin-top: 30px;
}

body>*:first-child {
    margin-top: 0 !important;
}

body>*:last-child {
    margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
}

h1 tt, h1 code {
    font-size: inherit;
}

h2 tt, h2 code {
    font-size: inherit;
}

h3 tt, h3 code {
    font-size: inherit;
}

h4 tt, h4 code {
    font-size: inherit;
}

h5 tt, h5 code {
    font-size: inherit;
}

h6 tt, h6 code {
    font-size: inherit;
}

h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    line-height: 1.3;
    color: #45b787;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    margin: 35px 0px 15px 0px;
    padding-bottom: 0.5em;
    border-bottom: 2px solid hsl(0, 0%, 20%);
    color: rgba(0, 190, 32, 0.9);
}

h3 {
    /* font-size: 1.4rem; */
    font-size: 1.6rem;
    line-height: 1.43;
    margin: 20px 0px 7px 0px;
    color: rgba(18, 170, 156, 0.8);
}

h4 {
    /* font-size: 1.2rem; */
    font-size: 1.45rem;
    color: rgba(18, 170, 156, 0.7);
}

h5 {
    /* font-size: 1rem; */
    font-size: 1.3rem;
    color: rgba(18, 170, 156, 0.6);
}

h6 {
    /* font-size: 1rem; */
    font-size: 1.15rem;
    color: rgba(18, 170, 156, 0.5);
}

p, blockquote, ul, ol, dl, table {
    margin: 0.8em 0;
}

li>ol, li>ul {
    margin: 0 0;
}

body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
}

body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul, ol {
    padding-left: 30px;
}

ul:first-child, ol:first-child {
    margin-top: 0;
}

ul:last-child, ol:last-child {
    margin-bottom: 0;
}

/* 超链接 */

a {
    color: #2d8ad6;
    font-weight: 600;
    padding: 0px 2px;
    text-decoration: none;
}

/* 注释 */

.md-comment{
    color: green;
    opacity: 1;
}

/* 下划线 */

u {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #f89;
}

/* 引用 */

blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 0px 10px 15px;
    color: #eeeeee;
    background-color: rgba(66, 185, 131, .1);
}

/* 分割线 */

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: hsl(0, 0%, 18%);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

/* 表格 */

table {
    padding: 0;
    word-break: initial;
}

table tr {
    /* 表格边框颜色 */
    border-top: 1px solid var(--dark-trait);
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n), thead {
    /* 表格偶数行背景颜色 */
    background-color: rgba(66, 185, 131, .1);
}

table tr th {
    font-weight: bold;
    border: 1px solid var(--dark-trait);
    /* 表格标题行背景颜色 */
    background-color: rgba(66, 185, 131, .2);
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid var(--dark-trait);
    margin: 0;
    padding: 6px 13px;
}

table tr th:first-child, table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child, table tr td:last-child {
    margin-bottom: 0;
}

#write .CodeMirror-gutters {
    border-right: none;
}

/* 代码块 */

#write .md-fences {
    border: 1px solid hsl(0, 0%, 11%);
    -webkit-font-smoothing: initial;
    margin: 0.8rem 0 !important;
    padding: 0.3rem 0rem !important;
    line-height: 1.43rem;
    color: hsl(0, 0%, 78%);
    background-color: hsl(0, 0%, 10%) !important;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-weight: bold;
    font-size: 0.85em;
    word-wrap: normal;
}

#write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
}

/* 行内代码 */

#write code, tt {
    padding: 1px 4px;
    border-radius: 9px;
    border: 1px solid #4b454581;
    position: relative;
    background: #2c2727;
    font-family: var(--font-monospace);
    font-weight: bold;
    font-size: 0.85em;
    color: #fa7e23;
}

tt {
    margin: 0 2px;
}

/* 脚注 */

#write .md-footnote {
    background-color: hsla(0, 0%, 0%, 0.2);
    color: #f3b37f;
}

/* 高亮 */

#write mark {
    background-color: rgb(215, 248, 67);
    border-radius: 4px;
    padding: 1px 3px;
    margin: 0 1px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* 删除线 */

#write del {
    /* color: #eb507e; */
    /* color: #bf3553; */
    color: #7c1823;
    padding: 1px 2px;
}

/* 粗体 */

#write strong {
    /* font-size: 1.2rem; */
    font-size: larger;
    color: #bec936;
}

/* 斜体 */

em {
    /* color: #5bae23; */
    color: #41b349;
}

.cm-s-inner .cm-link, .cm-s-inner.cm-link {
    color: #22a2c9;
}

.cm-s-inner .cm-string {
    color: #22a2c9;
}

/* TaskList */

#write .md-task-list-item>input {
    -webkit-appearance: initial;
    /* display: block; */
    position: absolute;
    height: 18px;
    width: 18px;
    margin-top: .45rem;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.65);
}

#write .md-task-list-item>input:focus {
    outline: none;
    box-shadow: none;
}

#write .md-task-list-item>input[checked] {
    background: green;
    border: 2px solid green;
}

#write .md-task-list-item>input[checked]::before {
    content: '✓';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.md-task-list-item>input {
    margin-left: -1.3em;
}

#write>ul>.task-list-done {
    /* text-decoration: line-through; */
    font-family: var(--font-mono);
    color: #4a5c44;
}

#write>ul>.task-list-done>p>span>strong {
    color: #4a5c44;
}

#write>ul>.task-list-done>p>span>em {
    color: #4a5c44;
}

#write>ul>.task-list-done>p>span>a {
    color: #4a5c44;
}

#write>ul>.task-list-done>p>span>u {
    border-bottom: 2px solid #4a5c44;
}

#write>ul>.task-list-done>p>span>del {
    color: #4a5c44;
}

#write>ul>.task-list-done>p>span>code {
    color: #4a5c44;
}

.task-list-not-done {
    font-family: var(--font-mono);
    color: #bf3553;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}

@media print {
    html {
        font-size: 13px;
    }
    table, pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
    /* 这是自定义标签, 在需要换行的地方插入：<pb> */
    pb {
        display: block;
        page-break-after: always;
    }
    h1 {
        page-break-before: always;
    }
    h1:first-of-type {
        page-break-before: avoid;
    }
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    font-family: var(--font-mono);
    line-height: 1.45;
    background-color: hsl(0, 0%, 3%);
    border: 0;
    border-radius: 3px;
    color: hsl(0, 0%, 53%);
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: .375rem;
}

#write>h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write>h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image>.md-meta {
    border-radius: 3px;
    font-family: var(--font-monospace);
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    background: rgba(0, 0, 0, .4);
    color: inherit;
}

img {
    opacity: .6;
}

/* <> 标签 */
.md-tag {
    font-family: var(--font-mono);
    color: inherit;
}

/* 目录 */
.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: hsl(0, 0%, 2%);
    border-color: hsl(0, 0%, 0%) hsl(0, 0%, 10%) hsl(0, 0%, 10%) hsl(0, 0%, 7%);
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer {
    font-family: var(--font-family);
}

.file-node-content:hover .file-node-icon, .file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: hsl(0, 0%, 2%);
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #42b983;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: hsl(215, 92%, 5%);
}

#typora-sidebar {
    font-family: var(--font-family);
    /* font-weight: bold; */
}

.file-list-item-summary {
    font-family: var(--font-sans-serif);
    font-weight: 400;
}

.file-list-item {
    border-bottom: 0.15rem solid hsl(0, 0%, 18%);
}

.file-list-item.active {
    background: hsl(0, 0%, 15%) !important;
}

.file-node-background {
    height: 29px;
}

#toc-dropmenu {
    background: hsl(0, 0%, 18%) !important;
    font-weight: bold;
}

#toc-content {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

#toc-content a:hover {
    text-decoration: none;
}

.outline-item {
    /* transition: color 150ms, background-color 150ms; */
    transition: color 150ms;
}

.outline-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #42b983;
}

.sidebar-footer {
    border-top: 2px solid hsl(0, 0%, 15%) !important;
}

.footer-item:hover, .sidebar-footer-item:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.file-tree-node.active>.file-node-background {
    background-color: hsl(0, 0%, 15%) !important;
}

.file-node-content:hover {
    color: #eeeeee;
}

html {
    background: #1f1f1f !important;
}

.outline-title-wrapper {
    display: none;
}

.dropdown-menu .divider {
    display: none;
    height: 2px;
    background-color: hsl(0, 0%, 13%);
}

.dropdown-menu>li>a {
    color: #eeeeee;
}

.autoComplt-hint {
    color: #42b983 !important;
    /* border-color: transparent !important */
}

.auto-suggest-container {
    color: #42b983 !important;
    font-family: var(--font-sans-serif);
    font-weight: bold !important;
    border-color: #42b983 !important;
    border-radius: 8px !important;
    border-width: 2px !important;
    margin-top: 5px;
    overflow: hidden !important;
    box-shadow: 0 0 1rem hsla(153, 47%, 49%, 0.3);
}

/* .auto-suggest-container li { */

/* transition: all 150ms; */

/* text-align: center !important; */

/* } */

.auto-suggest-container li:hover {
    color: #eeeeee !important;
    background-color: #42b983 !important;
    /* text-align: right !important; */
}

/* windows */

/* .modal-dialog { */

/* color: #000; */

/* } */

.typora-sourceview-on #toggle-sourceview-btn {
    background-color: #42b983
}

/* cursor */

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    border-left: 5px solid #42b983;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 5px solid #42b983;
    z-index: 3;
}

/* selected text */

/* .CodeMirror-selecte { */

/* background-color: hsla(153, 47%, 49%, 0.5) !important; */

/* color: #eeeeee !important; */

/* } */

.ty-preferences {
    color: #aaaaaa;
}

.ty-preferences .btn-default:not([disabled]):hover {
    background-color: var(--active-file-bg-color);
    background-image: none;
    color: #fff;
}

.ty-preferences .search-hit {
    background: var(--select-text-bg-color)
}

/* 标题的自动编号 */

#write {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

/** put counter result into headings */

#write h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

#write h3:before, h3.md-focus.md-heading:before
/** override the default style for focused headings */

    {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) "."
}

#write h4:before, h4.md-focus.md-heading:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) "."
}

/** override the default style for focused headings */

#write>h3.md-focus:before, #write>h4.md-focus:before, #write>h5.md-focus:before, #write>h6.md-focus:before, h3.md-focus:before, h4.md-focus:before, h5.md-focus:before, h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left: initial;
    float: none;
    top: initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/* 大纲的自动编号 */

.outline-h1 {
    counter-reset: h2
}

.outline-h2 {
    counter-reset: h3
}

.outline-h3 {
    counter-reset: h4
}

.outline-h2>.outline-item>.outline-label:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

.outline-h3>.outline-item>.outline-label:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}

.outline-h4>.outline-item>.outline-label:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". "
}

/* TOC隐藏H1和H6 */

.md-toc-h1, .md-toc-h6 {
    display: none;
}

/*  改变书写区域的宽度 */

#write {
    max-width: 1800px;
}

/* 更改源代码模式的宽度 */

#typora-source .CodeMirror-lines {
    max-width: 1800px;
    /*or 1000px*/
}